<div class="alphabet-scroll">
    <span class="alphabet active" data-alphabet="top">
        <md-icon>arrow_upward</md-icon>
        <span class="tooltip"><md-icon>arrow_upward</md-icon></span>
    </span>
    <span *ngFor="let alphabet of helperService.alphabets" class="alphabet" [class.active]="helperService.alphabetsEnabled[alphabet|lowercase]" [attr.data-alphabet]="alphabet">
        <span class="tooltip">{{alphabet}}</span>
        {{alphabet}}
    </span>
    <span class="alphabet active" data-alphabet="bottom">
        <md-icon>arrow_downward</md-icon>
         <span class="tooltip"><md-icon>arrow_downward</md-icon></span>
    </span>
</div>