*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Roboto', sans-serif;-webkit-tap-highlight-color: transparent;}
*:focus{outline: none;}

body::-webkit-scrollbar{width: 10px;} 
body::-webkit-scrollbar-track{background: #1c1c1c;} 
body::-webkit-scrollbar-thumb{background-color: rgba(204, 24, 30, 0.2);}
body::-webkit-scrollbar-thumb:hover{background-color: #cc181e;}

body{background: #131313;color: #fff;font-size: 15px;}

.container{width: 90%;margin: auto;max-width: 600px;padding-top: 0;}

.box{box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);margin: 20px 0;background: #1c1c1c;}

#fixed-bar{position: fixed; width: 90%;max-width: 600px; top: 0;z-index: 1;padding: 0 15px;}
#fixed-bar:before{content: "";background: #131313;height: 20px;width: 104%;top: -20px;position: absolute;left: -2%;}

.list{list-style: none;padding: 0;}
.list li{padding: 10px 15px;border-bottom: 1px solid #232323;cursor: pointer}
.list li:last-child{border: none;}
.list li.active, .list li:hover{background: #cc181e;color: #fff;}
.list i{margin-right: 15px;}

.fab-btn{display: inline-block;width: 45px;height: 45px;border: none;border-radius: 50%;cursor: pointer;background: #cc181e;color: #fff;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);}
.fab-btn i{font-size: 20px;line-height: 45px;}
.fab-btn i.fa-play{margin-left: 5px;}

.player-action{text-align: center;margin: 10px 0;user-select: none;}
.player-action .fab-btn{margin: 0 10px;}

.progress-wrapper{padding: 5px 0;cursor: pointer;user-select: none;}
.progress-wrapper .progress{position: relative;height: 3px;background: #131313;}
.progress-wrapper .buffered, .progress-wrapper .played{position: absolute;display: block;width: 0;height: 100%;top: 0;left: 0;}
.progress-wrapper .buffered{background: #7f6061;}
.progress-wrapper .played{background: #cc181e;}
.progress-wrapper .played:after{background: #cc181e;width: 15px;height: 15px;position: absolute;right: -7px;top: 0;margin-top: -5px;border-radius: 50%;}
.progress-wrapper:hover .played:after{content: "";}
.progress-wrapper .tooltip{position: absolute;top: -20px;background: #000;padding: 2px 5px;font-size: 11px;margin-left: -10px;display: none;}
.progress-wrapper:hover .tooltip{display: inline-block;}
.progress-wrapper .time{display: block;margin-top: 10px;font-size: 13px;}
.progress-wrapper .full-time{float: right;}

#yplayer-container{transition: .5s;transform: scale(1,0);}
#yplayer-container.active{transform: scale(1);}
#yplayer{max-width: 100%;}

.hide{display: none;}

@media screen and (max-width: 400px) {
	body{font-size: 14px;}

	.player-action{margin: 5px 0;}
	.player-action .fab-btn{margin: 5px;}

	.fab-btn{width: 40px;height: 40px;}
	.fab-btn i{font-size: 17px;line-height: 40px;}
}