$primary-color: #673ab7;
$secondary-color: #ffd740;
$error-color: #F44336;
$success-color: #4CAF50;
$info-color: #03a9f4;

$small: max-width 767px;
$medium: 768px;
$large: 1200;
$md-small: max-width 600px;
$md-medium: 601px;
$md-large: 961px;
