<form (submit)="editWord(currentWord.id)" autocomplete="off" class="form-dialog">
    <md-dialog-content>
        <md-select placeholder="Category" [(ngModel)]="currentWord.category" name="category" required>
            <md-option *ngFor="let category of categories" [value]="category.$key">{{category.name}}</md-option>
        </md-select>
        <md-input-container>
            <input mdInput type="text" [(ngModel)]="currentWord.name" name="name" placeholder="Word" required>
        </md-input-container>
        <md-input-container>
            <input mdInput type="text" [(ngModel)]="currentWord.definition" name="definition" placeholder="Definition" required>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <button md-raised-button color="accent" [disabled]="helperService.submitDisabled == 1">Update</button>
    </md-dialog-actions>
</form>