<md-card *ngIf="!isDialog" class="form-card">
    <form (submit)="addCategory()" autocomplete="off">
        <md-card-content>
            <md-input-container>
                <input mdInput type="text" [(ngModel)]="newCategory.name" name="name" placeholder="Category" required>
            </md-input-container>
            <md-input-container>
                <input mdInput type="text" [(ngModel)]="newCategory.definition" name="definition" placeholder="Definition" required>
            </md-input-container>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="accent" [disabled]="helperService.submitDisabled == 1">Submit</button>
        </md-card-actions>
    </form>
</md-card>

<form *ngIf="isDialog" (submit)="addCategory()" autocomplete="off" class="form-dialog">
    <md-dialog-content>
        <md-input-container>
            <input mdInput type="text" [(ngModel)]="newCategory.name" name="name" placeholder="Category" required>
        </md-input-container>
        <md-input-container>
            <input mdInput type="text" [(ngModel)]="newCategory.definition" name="definition" placeholder="Definition" required>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <button md-raised-button md-dialog-close>Close</button>
        <button md-raised-button color="accent" [disabled]="helperService.submitDisabled == 1">Submit</button>
    </md-dialog-actions>
</form>