<form (submit)="editCategory(currentCategory.id)" autocomplete="off" class="form-dialog">
    <md-dialog-content>
        <md-input-container>
            <input mdInput type="text" [(ngModel)]="currentCategory.name" name="name" placeholder="Category" required>
        </md-input-container>
        <md-input-container>
            <input mdInput type="text" [(ngModel)]="currentCategory.definition" name="definition" placeholder="Definition" required>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <button md-raised-button color="accent" [disabled]="helperService.submitDisabled == 1">Update</button>
    </md-dialog-actions>
</form>