<md-toolbar id="secondary-toolbar">
    <span class="fill-space"></span>
    <span *ngIf="quizWordsLength" class="quiz-count">{{finishedQuiz}} / {{quizWordsLength}}</span>
</md-toolbar>

<md-card class="main-card quiz-form" *ngIf="quizWordsLength == 0">
    <md-card-content>
        <md-spinner *ngIf="!hideSpinner" color="accent"></md-spinner>
        <md-list>
            <md-list-item *ngFor="let category of categories">
                <md-checkbox [(ngModel)]="categorySelected[category.$key]">
                    <span class="capitalize">{{category.name}}</span>
                </md-checkbox>
            </md-list-item>
        </md-list>
    </md-card-content>
    <button md-fab class="left-fixed-fab" (click)="selectAll()">
        <md-icon *ngIf="!isAllSelected">check_box_outline_blank</md-icon>
        <md-icon *ngIf="isAllSelected">check_box</md-icon>
    </button>
    <button md-fab class="fixed-fab" (click)="startQuiz()"><md-icon>play_arrow</md-icon></button>
</md-card>

<md-card class="main-card quiz-card" *ngIf="quizWordsLength > 0">
    <md-spinner *ngIf="!hideSpinner" color="accent"></md-spinner>
    <md-list class="clickable-list draggable-list">
        <div *ngFor="let word of quizWords; let i = index;">
            <md-list-item *ngIf="word.showQuiz" (pan)="helperService.onPan($event, word.$key)" (panend)="onPanEnd($event, word.$key, i, word.name)" [style.left]="helperService.pan.left[word.$key]">
                <p md-line (tap)="word.showAnswer = 1;finishedQuiz = finishedQuiz + 1;" *ngIf="!word.showAnswer" class="definition">{{word.definition}}</p>
                <p md-line (tap)="word.showAnswer = 0;finishedQuiz = finishedQuiz - 1;" *ngIf="word.showAnswer" class="capitalize name"><b>{{word.name}}</b></p>

                <span class="pan-icon edit-icon" [@listIconState]="helperService.listIconState.edit[word.$key]" [style.left]="helperService.pan.iconPosition[word.$key]" [style.width]="helperService.pan.iconWidth[word.$key]">
                    <md-icon>edit</md-icon>
                </span>
                <span class="pan-icon listen-icon" [@listIconState]="helperService.listIconState.delete[word.$key]" [style.right]="helperService.pan.iconPosition[word.$key]" [style.width]="helperService.pan.iconWidth[word.$key]">
                    <md-icon>volume_up</md-icon>
                </span>
            </md-list-item>
        </div>
        <p *ngIf="quizWordsLength == 0" class="no-record">No record found</p>
    </md-list>
    <button *ngIf="quizeSet > 0" md-fab class="left-fixed-fab" (click)="getQuizWords('prev')"><md-icon>arrow_back</md-icon></button>
    <button *ngIf="!quizeSetFinished" md-fab class="fixed-fab" (click)="getQuizWords()"><md-icon>arrow_forward</md-icon></button>
</md-card>
