<md-toolbar id="secondary-toolbar">
    <span class="fill-space"></span>
    <md-input-container [class.hide]="!showSearchBox" floatPlaceholder="never">
        <input *ngIf="!filterByDefinition" mdInput type="text" [(ngModel)]="filterValue.name" placeholder="Search category" [focus]="true" #focusElement>
        <input *ngIf="filterByDefinition" mdInput type="text" [(ngModel)]="filterValue.definition" placeholder="Search definition" [focus]="true" #focusElement>
    </md-input-container>
    <button *ngIf="!showSearchBox" md-icon-button (click)="showSearchBox = 1;setFocus()"><md-icon>search</md-icon></button>
    <button *ngIf="showSearchBox" md-icon-button (click)="showSearchBox = 0;filterValue.name=filterValue.definition=''"><md-icon>close</md-icon></button>
    <button md-icon-button [mdMenuTriggerFor]="topMenu"><md-icon>more_vert</md-icon></button>
    <md-menu #topMenu="mdMenu">
        <button md-menu-item (click)="getAllCategories('created_on', 1, 1)">Recent</button>
        <button md-menu-item (click)="getAllCategories('created_on', 0, 1)">Earlier</button>
        <button md-menu-item (click)="getAllCategories('name', 0, 1)">Ascending</button>
        <button md-menu-item (click)="getAllCategories('name', 1, 1)">Descending</button>
        <button *ngIf="filterByDefinition" md-menu-item (click)="filterByDefinition = 0;filterValue.definition = '';"><md-icon>search</md-icon>Category</button>
        <button *ngIf="!filterByDefinition" md-menu-item (click)="filterByDefinition = 1;filterValue.name = '';"><md-icon>search</md-icon>Definition</button>
        <button *ngIf="!helperService.panDeleteEnabled" md-menu-item (click)="helperService.panDeleteEnabled = 1"><md-icon>delete</md-icon>Enable</button>
        <button *ngIf="helperService.panDeleteEnabled" md-menu-item (click)="helperService.panDeleteEnabled = 0"><md-icon>delete_forever</md-icon>Disable</button>
    </md-menu>
</md-toolbar>
<md-card class="main-card list-card" (tap)="onCardTap($event)" (pan)="onCardPan($event)" (panend)="onCardPanEnd($event)">
    <div class="spinner-container">
        <md-spinner *ngIf="!hideSpinner" color="accent"></md-spinner>
    </div>
    <md-list class="clickable-list draggable-list">
        <md-list-item id="{{category.name | slice:0:1}}" class="animated" *ngFor="let category of categories | async | filterBy: filterValue" [@listState]="helperService.animationState[category.$key]" [style.left]="helperService.pan.left[category.$key]" [style.animation]="helperService.animatedList[category.$key]" [class.opacity-hide]="helperService.animatedList[category.$key]" [attr.data-key]="category.$key">
            <p md-line class="capitalize"><b>{{category.name}}</b></p>
            <p md-line class="definition">{{category.definition}}</p>
            <span class="fill-space"></span>
            <button md-icon-button [mdMenuTriggerFor]="catMenu">
				<md-icon>more_vert</md-icon>
            </button>
            <md-menu #catMenu="mdMenu">
                <button md-menu-item (click)="listen(category.name)">Listen</button>
                <button md-menu-item [routerLink]="['/words/add/', category.$key]">Add</button>
                <button md-menu-item [routerLink]="['/quiz/catid/', category.$key]">Quiz</button>
            </md-menu>
            <span class="pan-icon edit-icon" [@listIconState]="helperService.listIconState.edit[category.$key]" [style.left]="helperService.pan.iconPosition[category.$key]" [style.width]="helperService.pan.iconWidth[category.$key]">
                <md-icon>edit</md-icon>
            </span>
            <span class="pan-icon delete-icon" [@listIconState]="helperService.listIconState.delete[category.$key]" [style.right]="helperService.pan.iconPosition[category.$key]" [style.width]="helperService.pan.iconWidth[category.$key]">
                <md-icon>delete</md-icon>
            </span>
        </md-list-item>
        <p *ngIf="dataLength == 0" class="no-record">No record found</p>
    </md-list>
</md-card>
<button md-fab class="fixed-fab" [@snackbarState]="helperService.snackbarState" (click)="add()" (panleft)="helperService.scrollContent()">{{dataLength}}</button>

<alphabet-scroll [class.hide]="!showAlphabetScroll"></alphabet-scroll>