<md-sidenav-container>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sideNav.toggle()">
            <md-icon>menu</md-icon>
        </button>
        <span class="fill-space"></span>
    </md-toolbar>
    <md-sidenav align="start" #sideNav [style.transform]="sidenavPosition" [style.transition]="sidenavTransition" [style.visibility]="sidenavVisiblity">
        <div (pan)="onSidenavClose($event)" (panend)="onSidenavCloseEnd($event)" class="sidenav-pan">
            <div class="sidenav-image"><img src="assets/icons/android-chrome-192x192.png"></div>
            <md-nav-list>
                <!-- <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" md-list-item><md-icon md-list-icon>home</md-icon><p md-line>Home</p></a> -->
                <a *ngIf="!currentUser.id" routerLinkActive="active" routerLink="/login" md-list-item><md-icon md-list-icon>exit_to_app</md-icon><p md-line>Login</a>
                <a *ngIf="currentUser.id" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/categories" md-list-item><md-icon md-list-icon>list</md-icon><p md-line>Categories</a>
                <a *ngIf="currentUser.id" routerLinkActive="active" routerLink="/categories/add" md-list-item><md-icon md-list-icon>add</md-icon><p md-line>Add Category</a>
                <a *ngIf="currentUser.id" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/words" md-list-item><md-icon md-list-icon>list</md-icon><p md-line>Words</a>
                <a *ngIf="currentUser.id" routerLinkActive="active" routerLink="/words/add" md-list-item><md-icon md-list-icon>add</md-icon><p md-line>Add Word</a>
                <a *ngIf="currentUser.id" routerLinkActive="active" routerLink="/quiz" md-list-item><md-icon md-list-icon>lightbulb_outline</md-icon><p md-line>Quiz</a>
                <md-divider *ngIf="currentUser.id"></md-divider>
                <a *ngIf="currentUser.id" (click)="logout()" md-list-item><md-icon md-list-icon>exit_to_app</md-icon><p md-line>Logout</p></a>
            </md-nav-list>
        </div>
    </md-sidenav>

    <div class="container">
        <div class="sidenav-edge" (pan)="onSidenavOpen($event)" (panend)="onSidenavOpenEnd($event)"></div>
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>