<md-card class="form-card">
    <form (submit)="login()">
        <md-card-content>
            <md-input-container>
                <input mdInput type="email" [(ngModel)]="email" name="email" placeholder="Email">
            </md-input-container>
            <md-input-container>
                <input mdInput type="password" [(ngModel)]="password" name="password" placeholder="Password">
            </md-input-container>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="accent">Submit</button>
            <!-- <button md-raised-button color="accent" type="button" (click)="googleLogin()">Log in with Google</button> -->
        </md-card-actions>
    </form>
</md-card>